<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:aop="http://www.ctrip.com/schema/apollo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${dubbo.app.name}"/>

    <dubbo:registry address="${dubbo.app.registry.address}"
                    protocol="${dubbo.app.registry.protocol}"
                    register="${dubbo.app.registry.register}"/>

    <dubbo:protocol name="${dubbo.app.protocol.name}"
                    host="${dubbo.app.portocol.host}"
                    port="${dubbo.app.portocol.port}"/>


</beans>